.QR-cancel {
  margin-top: 20px;
  padding: 5px;
  font-size: 1em;
  background-color: #ffd6d8;
  font-family: Georgia, Times, 'Times New Roman', serif;
  border-color: #b13554;
  color: #831a34;
}

.QR-cancel:hover {
  background-color: rgb(255, 107, 107);
}
